@model IEnumerable<KenjoyHR.Models.ED.HR>
@using Microsoft.AspNet.Identity

<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body>
    <h2>List of All Employees</h2>
    @using (Html.BeginForm("Index", "Employee", FormMethod.Get))
    {
        <p>
            <div class="form-inline">
                Find by name: @Html.TextBox("searchString", ViewBag.FilterValue as string, new { @class = "form-control" })
              @if (User.IsInRole("Admin"))
              {
                @Html.DropDownList("branch", new List<SelectListItem>
    {
    new SelectListItem(){Text="Select Branch...",Value=""},
    new SelectListItem(){Text="Najjanakumbi",Value="Najjanakumbi"},
    new SelectListItem(){Text="Nansana",Value="Nansana"},
    new SelectListItem(){Text="Bukoto",Value="Bukoto"},
    new SelectListItem(){Text="Mengo",Value="Mengo"}
    }, ViewBag.Branch as string, new { @class = "form-control" })
              }
              else { }

                <a><input type="submit" value="Search" class="btn btn-default"><i class="fa fa-search"></i></a>

            </div>
        </p>
    }



    <table class="table" data-ng-controller="CRUD_OperController">
        <tr>
            <th>

            </th>

            <th>
                First Name
            </th>

            <th>
                @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
            </th>
            <th>
                Status
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>

                    <img width="80" height="80" src="@Url.Content("~/Images/profile/" + System.IO.Path.GetFileName(item.image))" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FName)
                </td>
                
                <td>
                    
                    @Html.ActionLink("File Status", "DetailsDash", new { id = item.Id }) 
                   
                </td>
            </tr>

        }


    </table>




</body>

